*{
    padding: 0;
    margin: 0;
}

.App{
    margin: 50px;
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    text-align: center;
    font-size: 60px;
    color: #971A1A;
}